@import "../../../shared/styles/variables.scss";

#cover-image {
  height: 62vh;
  width: 100%;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron-heading {
  color: $color;
  font-weight: 500;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron p:last-child {
  color: $color;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.cursor-pointer {
  color: $color;
}
